:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.group {
  justify-content: space-between;
  margin: 0 0 24px;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
}
.sitemap {
  justify-content: space-evenly;
  min-height: 170px;
  padding: 24px;
  overflow: hidden;
  border-width: 1px 0px 0px 0px;
  border-color: hsla(var(--igx-grays-200));
  border-style: solid;
  position: relative;
  min-width: 50px;
}
.filters {
  min-width: 220px;
  padding: 16px 0 0 24px;
  align-items: stretch;
  position: relative;
  min-height: 50px;
}
.group_1 {
  min-width: 400px;
  align-items: center;
  position: relative;
  min-height: 50px;
}
.inner-pages-header {
  min-height: 140px;
  background-color: #151725;
  background-image: url(https://filetransfer.infragistics.com/public.php?service=files&t=6411ef0b474804e48e2a432c1160de80&download);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 50px;
}
.footer {
  background-color: hsla(var(--igx-grays-100));
  height: 50px;
  border-width: 0px 0px 1px 0px;
  padding: 0 24px;
  border-color: hsla(var(--igx-grays-200));
  border-style: solid;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.text {
  margin: 0 24px 0 0;
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.text_1 {
  margin: 0 16px 0 0;
  flex-shrink: 0;
  color: hsla(var(--igx-grays-800));
  min-width: min-content;
  height: max-content;
}
.text_2 {
  color: hsla(var(--igx-surface-500));
  margin: 8px 0 0;
  min-width: min-content;
  height: max-content;
}
.group_2 {
  padding: 48px 0;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.group_3 {
  max-width: 1680px;
  align-items: stretch;
  min-width: 50px;
}
.group_4 {
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 50px;
}
.group_5 {
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
}
.text_3 {
  margin: 8px 0 0;
  min-width: min-content;
  height: max-content;
}
.text_4 {
  margin: 0 32px 0 0;
  color: hsla(var(--igx-grays-700));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_6 {
  padding: 0 24px;
  align-items: stretch;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.text_5 {
  margin: 0 0 8px;
  min-width: min-content;
  height: max-content;
}
.hyperlink {
  margin: 8px 0 30px 16px;
  color: hsla(var(--igx-primary-500));
  min-width: min-content;
  height: max-content;
}
.text_6 {
  color: hsla(var(--igx-grays-700));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_7 {
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 50px;
}
.group_8 {
  align-items: stretch;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.h5 {
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.actions-content {
  min-height: 40px;
  min-width: 50px;
}
.h6 {
  color: hsla(var(--igx-grays-800));
  min-width: min-content;
  height: max-content;
}
.group_9 {
  position: relative;
}
.element {
  min-height: 50px;
  min-width: 50px;
}
.group_10 {
  min-width: 50px;
}
.text_7 {
  min-width: min-content;
  height: max-content;
}
.list {
  height: max-content;
  min-width: min-content;
}
.list-item {
  min-width: 0;
  min-height: 0;
}
.button-group {
  height: auto;
  flex-shrink: 0;
  min-width: min-content;
}
.drop-down {
  top: 0;
  left: 0;
  position: absolute;
  flex-shrink: 0;
  height: max-content;
  min-width: min-content;
}
.button {
  flex-shrink: 0;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  margin: 0 0 8px;
  color: hsla(var(--igx-primary-500));
  background-color: transparent;
  height: max-content;
  min-width: min-content;
}
.card {
  width: 260px;
  margin: 0 16px 16px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
  flex-shrink: 0;
}
.card_1 {
  margin: 0 16px 16px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
  flex-shrink: 0;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
