<div class="group row">
  <img src="https://filetransfer.infragistics.com/public.php?service=files&t=a9fc08268fef6b036578d0788c4b593f&download" routerLink="/home" class="image" />
  <div class="group_1 row">
    <button igxButton="flat" igxRipple routerLink="/all-products" class="button_1">Auto Body Parts</button>
    <button igxButton="flat" igxRipple class="button_1">Lighting</button>
    <button igxButton="flat" igxRipple class="button_1">Engine &amp; Drivetrain</button>
    <button igxButton="flat" igxRipple class="button_1">Brakes &amp; Suspension</button>
    <button igxButton="flat" igxRipple class="button_1">Engine &amp; Drivetrain</button>
    <button igxButton="flat" igxRipple class="button_1">Interior</button>
    <button igxButton="flat" igxRipple class="button_1">Exterior</button>
  </div>
  <div class="group_2 row">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>search</igx-icon>
    </button>
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>account_circle</igx-icon>
    </button>
    <button igxButton="icon" igxRipple routerLink="/shopping-cart" class="button">
      <igx-icon>shopping_cart</igx-icon>
    </button>
  </div>
</div>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
