:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.content {
  padding: 48px 24px;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.footer {
  padding: 0 24px;
  height: 50px;
  background-color: hsla(var(--igx-grays-100));
  border-width: 0px 0px 1px 0px;
  border-color: hsla(var(--igx-grays-200));
  border-style: solid;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.group {
  min-width: 700px;
  background-color: hsla(var(--igx-surface-500));
  align-items: stretch;
  flex-shrink: 0;
}
.group_1 {
  min-width: 100px;
  background-color: hsla(var(--igx-warn-500));
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  min-height: 50px;
}
.main-page-header {
  min-height: 240px;
  background-color: #151725;
  background-image: url(https://filetransfer.infragistics.com/public.php?service=files&t=6411ef0b474804e48e2a432c1160de80&download);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 50px;
}
.sitemap {
  min-height: 170px;
  justify-content: space-evenly;
  overflow: hidden;
  border-width: 1px 0px 0px 0px;
  padding: 24px;
  border-color: hsla(var(--igx-grays-200));
  border-style: solid;
  position: relative;
  min-width: 50px;
}
.h5 {
  margin: 0 24px 32px;
  min-width: min-content;
  height: max-content;
}
.h5_1 {
  margin: 48px 24px 32px;
  min-width: min-content;
  height: max-content;
}
.text {
  margin: 0 0 16px;
  color: hsla(var(--igx-surface-500));
  text-align: center;
  min-width: min-content;
  height: max-content;
}
.text_1 {
  margin: 8px 0 0;
  min-width: min-content;
  height: max-content;
}
.text_2 {
  margin: 0 16px 0 0;
  color: hsla(var(--igx-grays-800));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_2 {
  flex-wrap: wrap;
  max-width: 1680px;
  justify-content: center;
  align-items: stretch;
  min-width: 50px;
}
.group_3 {
  max-width: 1280px;
  flex-basis: 0;
  flex-grow: 1;
  align-items: stretch;
  position: relative;
  min-height: 50px;
}
.text_3 {
  margin: 0 32px 0 0;
  color: hsla(var(--igx-grays-700));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.h4 {
  color: hsla(var(--igx-surface-500));
  text-align: center;
  min-width: min-content;
  height: max-content;
}
.text_4 {
  color: hsla(var(--igx-grays-700));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_4 {
  flex-grow: 1;
  align-items: stretch;
  flex-shrink: 0;
  min-height: 50px;
}
.text_5 {
  text-align: center;
  min-width: min-content;
  height: max-content;
}
.group_5 {
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 50px;
}
.actions-content {
  min-height: 40px;
  min-width: 50px;
}
.h6 {
  color: hsla(var(--igx-grays-800));
  min-width: min-content;
  height: max-content;
}
.group_6 {
  align-items: stretch;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.group_7 {
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.body-content {
  min-height: 50px;
  min-width: 50px;
}
.text_6 {
  min-width: min-content;
  height: max-content;
}
.card {
  width: 260px;
  flex-shrink: 0;
  margin: 0 8px 8px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
}
.card_1 {
  flex-shrink: 0;
  margin: 0 8px 8px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
}
.card_2 {
  margin: 0 8px 8px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
}
.button {
  color: hsla(var(--igx-surface-500));
  flex-grow: 1;
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.select {
  width: 150px;
  flex-shrink: 0;
  height: max-content;
}
.select_1 {
  min-width: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  height: max-content;
}
.button_1 {
  margin: 0 0 8px;
  color: hsla(var(--igx-primary-500));
  background-color: transparent;
  min-width: min-content;
  height: max-content;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
