<div class="content column">
  <h5 class="h5">Popular Categories</h5>
  <h5 class="h5_1">Featured Products</h5>
  <div class="group_2 row">
    <igx-card type="outlined" class="card_1">
      <igx-card-media height="210px">
        <img src="https://filetransfer.infragistics.com/public.php?service=files&t=bfe2dad6262481c5e438fc6f5f8028f7&download" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Denim jacket</h3>
        <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <h6 class="h6">$25.00</h6>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <button igxButton="flat" igxRipple class="button_1">
          <igx-icon>add_shopping_cart</igx-icon>
          <span>ADD TO CART</span>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" routerLink="/product-details" class="card_1">
      <igx-card-media height="210px">
        <img src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Denim jean</h3>
        <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <h6 class="h6">$15.00</h6>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <button igxButton="flat" igxRipple class="button_1">
          <igx-icon>add_shopping_cart</igx-icon>
          <span>ADD TO CART</span>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card_2">
      <igx-card-media height="210px">
        <img src="https://filetransfer.infragistics.com/public.php?service=files&t=94ab63891e2281af8ac8d25f0eefe668&download" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Denim T-shirt</h3>
        <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <h6 class="h6">$7.00</h6>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <button igxButton="flat" igxRipple class="button_1">
          <igx-icon>add_shopping_cart</igx-icon>
          <span>ADD TO CART</span>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-media height="210px">
        <img src="https://filetransfer.infragistics.com/public.php?service=files&t=0212c47c4a204776d8fa829a0242703a&download" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Denim Short</h3>
        <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <h6 class="h6">$5.00</h6>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <button igxButton="flat" igxRipple class="button_1">
          <igx-icon>add_shopping_cart</igx-icon>
          <span>ADD TO CART</span>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card_1">
      <igx-card-media height="210px">
        <img src="https://filetransfer.infragistics.com/public.php?service=files&t=940b0efc0c6ed3aeed61ab94c511b130&download" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Denim Skirt</h3>
        <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <h6 class="h6">$5.00</h6>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <button igxButton="flat" igxRipple class="button_1">
          <igx-icon>add_shopping_cart</igx-icon>
          <span>ADD TO CART</span>
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
</div>
<div class="main-page-header row">
  <div class="group_3 row">
    <div class="group_4 column">
      <h4 class="h4">suave boutique</h4>
      <p *ngIf="textVisible" class="igx-typography__body-1 text">We have the most popular brands and all the parts for your vehicle</p>
      <div class="group row">
        <igx-select type="box" placeholder="2022" class="select">
          <igx-select-item value="Option">2021</igx-select-item>
          <igx-select-item value="Option">2020</igx-select-item>
          <igx-select-item value="Option">2019</igx-select-item>
          <igx-select-item value="Option">2018</igx-select-item>
          <igx-select-item value="Option">2017</igx-select-item>
          <igx-select-item value="Option">2016</igx-select-item>
          <igx-select-item value="Option">2015</igx-select-item>
          <igx-select-item value="Option">2014</igx-select-item>
          <igx-select-item value="Option">2013</igx-select-item>
          <igx-select-item value="Option">2012</igx-select-item>
          <igx-select-item value="Option">2011</igx-select-item>
          <igx-select-item value="Option">2010</igx-select-item>
          <label igxLabel>Year</label>
        </igx-select>
        <igx-select type="box" [disabled]="true" class="select_1">
          <igx-select-item value="Option">Option</igx-select-item>
          <label igxLabel>Model</label>
        </igx-select>
        <igx-select type="box" placeholder="Denim" [disabled]="true" class="select_1">
          <igx-select-item value="Option">Hyundai</igx-select-item>
          <igx-select-item value="Option">Kia</igx-select-item>
          <igx-select-item value="Option">Mitsubishi</igx-select-item>
          <igx-select-item value="Option">Audi</igx-select-item>
          <igx-select-item value="Option">Chevrolet</igx-select-item>
          <igx-select-item value="Option">Toyota</igx-select-item>
          <igx-select-item value="Option">Ford</igx-select-item>
          <igx-select-item value="Option">Fiat</igx-select-item>
          <label igxLabel>T-shirt</label>
        </igx-select>
        <igx-select type="box" placeholder="Denim" [disabled]="true" class="select_1">
          <igx-select-item value="Option">Option</igx-select-item>
          <label igxLabel>Short</label>
        </igx-select>
        <div class="group_1 row">
          <button igxButton="flat" igxRipple class="button">SEARCH</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sitemap row">
  <div class="group_7 column">
    <p class="igx-typography__subtitle-2 text_6">Contact Us</p>
    <p class="igx-typography__body-2 text_6">8 Lanark Rd. Belgravia</p>
    <p class="igx-typography__body-2 text_6">Harare</p>
    <p class="igx-typography__subtitle-2 text_1">Phone Number</p>
    <p class="igx-typography__body-2 text_5">+263 787 721 200</p>
  </div>
  <div class="group_6 column">
    <p class="igx-typography__subtitle-2 text_6">Help</p>
    <p class="igx-typography__body-2 text_6">FAQ</p>
    <p class="igx-typography__body-2 text_6">Returns</p>
    <p class="igx-typography__body-2 text_6">Coupons &amp; Discounts</p>
    <p class="igx-typography__body-2 text_6">Shipping &amp; Returns</p>
  </div>
  <div class="group_6 column">
    <p class="igx-typography__subtitle-2 text_6">About Us</p>
    <p class="igx-typography__body-2 text_6">Company Info</p>
    <p class="igx-typography__body-2 text_6">Press Releases</p>
    <p class="igx-typography__body-2 text_6">Careers</p>
    <p class="igx-typography__body-2 text_6">Reviews</p>
  </div>
  <div class="group_6 column">
    <p class="igx-typography__subtitle-2 text_6">Services</p>
    <p class="igx-typography__body-2 text_6">Buy Online</p>
    <p class="igx-typography__body-2 text_6">In-Store</p>
  </div>
</div>
<div class="footer row">
  <p class="igx-typography__body-2 text_2">Copyright ©2022 Suave Boutique.com, Inc. All Rights Reserved.</p>
  <div class="group_5 row">
    <p class="igx-typography__body-2 text_3">Terms of Use</p>
    <p class="igx-typography__body-2 text_3">Privacy Policy</p>
    <p class="igx-typography__body-2 text_4">Site Map</p>
  </div>
</div>
